      <section class="hero d-flex ">
        <div class="hero-text">
          <h1>Share and Discover Vinyl Collections</h1>
          <p>Join the vinyl community today and explore thousands of collections from around the world.</p>
          <a href="/register" class="btn btn-primary">Get Started</a>
        </div>
        <div class="hero-image " style=" margin-left: 60px; ">
          <img class="img-fluid img-thumbnail" src="./vinyl_collection.jpg" alt="Vinyl Collection" style="width: 500px; height: 400px; object-fit: cover;">
        </div>
      </section>
      <section class="collections">
        <h4>Browse Collections</h4>
        <div class="filters" style="margin-bottom: 3%;">
          <label for="genre"><span class="h6">Filter by Genre:</span></label>
          <select id="genre">
            <option value="all">All</option>
            <option value="rock">Rock</option>
            <option value="pop">Pop</option>
            <option value="jazz">Jazz</option>
            <option value="hip-hop">Hip Hop</option>
          </select>
        </div>