<%- include ('header.ejs') %>
<form action="" method="POST" class="align-items-center">

    <div class="mb-3 col-sm-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
  
    <div class="mb-3 col-sm-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

  
    <button type="submit" class="btn btn-primary" formaction="/login" formmethod="post">Login</button>
  
  </form>
  <%- include ('footer.ejs') %>